body {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/fondo3.png);
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 16px;
}

.profile-icon {
    position: relative;
}

.profile-icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.status-dot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #00ff6a;
    border: 2px solid #111;
    border-radius: 50%;
}

.intro {
    margin-top: 250px;
}

.t1 {
    font-family: "Ancizar Serif", serif;
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.t2 {
    font-weight: 650;
    font-size: 93px;
    color: white;
    transform: translateY(-90px);
}

.subtexto {
    color: rgba(255, 255, 255, 0.884);
    font-size: 23px;
    transform: translateY(-80px);
}

.btn-comenzar {
    background-color: rgba(255, 255, 255, 0.185);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    transform: translateY(-40px);
}

.btn-comenzar:hover {
    background-color: #ffffff65;
}

.fade-in {
    animation: fadeInDown 0.8s ease forwards;
    opacity: 0;
}
      
@keyframes fadeInDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}